.index-logo {
max-width: 100%;
height: auto;
width: 40rem;
}

.tech-icon{
max-width: 30%;
height: auto;
}

.icon-container {
text-align: center;	
}

.index-card {
	padding:2rem;
}

#beneficios {
font-size: 1.5rem;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
